@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-red: #f87070;
	--primary-blue: #70f3f8;
	--primary-purple: #d881f8;
	--active-color: var(--primary-red);
	--font-family: var(--font-mono);
}

body {
	font-family: var(--font-family);
}
